@{
    ViewBag.Title = "CreateTestimonial";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2 class="modern-title">Referans Oluşturma Sayfası</h2>

<form method="post">

    <br />
    <label>İsim</label>
    <input type="text" class="form-control" name="Name" />
    <br />

    <label>Soyisim </label>
    <input type="text" class="form-control" name="SurName" />
    <br />


    <label>Resim Linki</label>
    <input type="text" class="form-control" name="ImgURL" />
    <br />
        
    <label>Açıklama </label>
    <input type="text" class="form-control" name="Description" />
    <br />

    <label>Konum </label>
    <input type="text" class="form-control" name="Location" />
    <br />


    <button class="btn btn-success">Ekle</button>

</form>

