@model List<AcunMedyaTravelProject.Entities.Booking2>

<div class="col-lg-6 d-flex justify-content-center align-items-start">
    <div class="card position-relative shadow" style="max-width: 370px;">
        <div class="position-absolute z-index--1 me-10 me-xxl-0" style="right:-160px;top:-210px;"> <img src="~/jadoo/public/assets/img/steps/bg.png" style="max-width:550px;" alt="shape" /></div>
        <div class="card-body p-3">
            @foreach (var item in Model)
            {
                <img class="mb-4 mt-2 rounded-2 w-100" src="@item.ImageUrl" alt="booking" />
                <div>
                    <h5 class="fw-medium">@item.Title</h5>
                    <p class="fs--1 mb-3 fw-medium">@item.Date</p>
                    <div class="icon-group mb-4">
                        <span class="btn icon-item"> <img src="~/jadoo/public/assets/img/steps/leaf.svg" alt="" /></span><span class="btn icon-item"> <img src="~/jadoo/public/assets/img/steps/map.svg" alt="" /></span><span class="btn icon-item"> <img src="~/jadoo/public/assets/img/steps/send.svg" alt="" /></span>
                    </div>
                    <div class="d-flex align-items-center justify-content-between">
                        <div class="d-flex align-items-center mt-n1"><img class="me-3" src="~/jadoo/public/assets/img/steps/building.svg" width="18" alt="building" /><span class="fs--1 fw-medium">@item.Description</span></div>
                        <div class="show-onhover position-relative">
                            <div class="card hideEl shadow position-absolute end-0 start-xl-50 bottom-100 translate-xl-middle-x ms-3" style="width: 260px;border-radius:18px;">
                                <div class="card-body py-3">
                                    <div class="d-flex">
                                        <div style="margin-right: 10px"> <img class="rounded-circle" src="~/jadoo/public/assets/img/steps/favorite-placeholder.png" width="50" alt="favorite" /></div>
                                        <div>
                                            <p class="fs--1 mb-1 fw-medium">Ongoing </p>
                                            <h5 class="fw-medium mb-3">Trip to rome</h5>
                                            <h6 class="fs--1 fw-medium mb-2"><span>40%</span> completed</h6>
                                            <div class="progress" style="height: 6px;">
                                                <div class="progress-bar" role="progressbar" style="width: 40%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="btn"> <img src="~/jadoo/public/assets/img/steps/heart.svg" width="20" alt="step" /></button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

