<div class="container">
    <div class="position-absolute start-100 bottom-0 translate-middle-x d-none d-xl-block ms-xl-n4"><img src="~/jadoo/public/assets/img/dest/shape.svg" alt="destination" /></div>
    <div class="mb-7 text-center">
        <h5 class="text-secondary">Turlar </h5>
        <h3 class="fs-xl-10 fs-lg-8 fs-7 fw-bold font-cursive text-capitalize">Top Destinations</h3>
    </div>
    <div class="mt-3 text-center mb-5">
        <button class="btn btn-outline-primary me-2 filter-btn active" data-category="All">
            All
        </button>
        <button class="btn btn-outline-primary me-2 filter-btn" data-category="Europe">
            Europe
        </button>
        <button class="btn btn-outline-primary me-2 filter-btn active" data-category="Asia">
            Asia
        </button>
        <button class="btn btn-outline-primary me-2 filter-btn active" data-category="America">
            America
        </button>
    </div>

    <div class="row">
        <div class="col-md-4 mb-4 destination-card" data-category="Europe">
            <div class="card overflow-hidden shadow">
                <img class="card-img-top" src="~/jadoo/public/assets/img/dest/dest1.jpg" alt="Rome, Italty" />
                <div class="card-body py-4 px-3">
                    <div class="d-flex flex-column flex-lg-row justify-content-between mb-3">
                        <h4 class="text-secondary fw-medium"><a class="link-900 text-decoration-none stretched-link" href="#!">Rome, Italty</a></h4><span class="fs-1 fw-medium">$5,42k</span>
                    </div>
                    <div class="d-flex align-items-center"> <img src="~/jadoo/public/assets/img/dest/navigation.svg" style="margin-right: 14px" width="20" alt="navigation" /><span class="fs-0 fw-medium">10 Days Trip</span></div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4 destination-card" data-category="Asia">
            <div class="card overflow-hidden shadow">
                <img class="card-img-top" src="~/jadoo/public/assets/img/dest/dest2.jpg" alt="London, UK" />
                <div class="card-body py-4 px-3">
                    <div class="d-flex flex-column flex-lg-row justify-content-between mb-3">
                        <h4 class="text-secondary fw-medium"><a class="link-900 text-decoration-none stretched-link" href="#!">London, UK</a></h4><span class="fs-1 fw-medium">$4.2k</span>
                    </div>
                    <div class="d-flex align-items-center"> <img src="~/jadoo/public/assets/img/dest/navigation.svg" style="margin-right: 14px" width="20" alt="navigation" /><span class="fs-0 fw-medium">12 Days Trip</span></div>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4 destination-card" data-category="America">
            <div class="card overflow-hidden shadow">
                <img class="card-img-top" src="~/jadoo/public/assets/img/dest/dest3.jpg" alt="Full Europe" />
                <div class="card-body py-4 px-3">
                    <div class="d-flex flex-column flex-lg-row justify-content-between mb-3">
                        <h4 class="text-secondary fw-medium"><a class="link-900 text-decoration-none stretched-link" href="#!">Full Europe</a></h4><span class="fs-1 fw-medium">$15k</span>
                    </div>
                    <div class="d-flex align-items-center"> <img src="~/jadoo/public/assets/img/dest/navigation.svg" style="margin-right: 14px" width="20" alt="navigation" /><span class="fs-0 fw-medium">28 Days Trip</span></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    //Sayfa ilk yüklendiğinde çalışacak kod
    document.addEventListener('DOMContentLoaded', function () {
        //Tğüm butonları bir değişkene atadık
        const filterButtons = document.querySelectorAll('.filter-btn');
        //Tüm cartları bir değişkene atadık
        const destinationCards = document.querySelectorAll('.destination-card');

        //Her filtre butonu için tıklama olayı tanımladık
        filterButtons.forEach(button => {
            button.addEventListener('click', function () {

                filterButtons.forEach(btn => btn.classList.remove('active'));

                this.classList.add('active');

                const category = this.getAttribute('data-category');

                destinationCards.forEach(card => {
                    //eğer category all ise ya da kartın kategorisi seçilen kategoriye eşitse
                    if (category === 'all' || card.getAttribute('data-category') === category   ){
                        card.style.display = 'block';
                    }
                    else {
                        card.style.display = 'none';
                    }
                });
            });
        });

    });

</script>