@{
    ViewBag.Title = "CreateCategory";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2 class="modern-title">Kategori Oluşturma Sayfası</h2>

<form method="post">

    <label>Kategori İsmi</label>
    <input type="text" class="form-control" name="CategoryName" />
    <br />


    <button class="btn btn-success">Ekle</button>

</form>
