@model List<AcunMedyaTravelProject.Entities.Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Kategori Sayfası</h2>

<div class="container">
    <br /><br />
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>CategoryID</th>
                <th>Kategori İsmi</th>
                <th>Güncelle</th>
                <th>Sil</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {

                <tr>
                    <td>@item.CategoryID </td>
                    <td>@item.CategoryName </td>
                    <td><a href="/Category/UpdateCategories/@item.CategoryID" class="btn btn-danger">Güncelle</a></td>
                    <td><button class="btn btn-dark" onclick="Delete(@item.CategoryID)">Sil</button></td>

                </tr>
            }
        </tbody>

    </table>
    <a href="/Category/CreateCategories" class="btn btn-success">Ekle</a>
</div>

<script>function Delete(id) {
        Swal.fire({
            title: "Emin misin?",
            text: "Dikkat bu işlemi geri alamazsınız!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Evet, silin!",
            cancelButtonText: "İptal"
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire({
                    title: "Silindi!",
                    text: "Veri silindi.",
                    icon: "success",
                    allowOutsideClick: false
                }).then((result) => {
                    window.location.href = '/Category/DeleteCategories/' + id;
                });
            }
        });
    }</script>