
@{
    ViewBag.Title = "CreateServices";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2 class="modern-title">Hizmetler Oluşturma Sayfası</h2>

<form method="post">

    <br />
    <label>Başlık</label>
    <input type="text" class="form-control" name="Title" />
    <br />

    <label>Açıklama </label>
    <input type="text" class="form-control" name="Description" />
    <br />

    <label>Resim Linki</label>
    <input type="text" class="form-control" name="ImageURL" />
    <br />

    <button class="btn btn-success">Ekle</button>

</form>