@model List<AcunMedyaTravelProject.Entities.Services>
@{
    ViewBag.Title = "SearchServices";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Hizmet Arama</h2>

<form method="get" action="/Service/SearchServices">
    <div class="form-group">
        <input type="text" name="searchText" placeholder="Başlık veya açıklamaya göre ara" value="@Request.QueryString["searchText"]" />
    </div>

    <button type="submit" class="btn btn-primary">Ara</button>
</form>

@if (Model.Any())
{
    <table class="table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Başlık</th>
                <th>Açıklama</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ServicesID</td>
                    <td>@item.Title</td>
                    <td>@item.Description</td>
                </tr>
            }
        </tbody>
    </table>
}

else
{
    <div class="alert alert-info">Hiç veri bulunamadı</div>
}