@{
    ViewBag.Title = "CreateGuide";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2 class="modern-title">Rehber Oluşturma Sayfası</h2>

<form method="post">

    <br />
    <label>Başlık</label>
    <input type="text" class="form-control" name="Title" />
    <br />

    <label>Açıklama1 </label>
    <input type="text" class="form-control" name="Description1" />
    <br />

    <label>Açıklama2 </label>
    <input type="text" class="form-control" name="Description2" />
    <br />

    <label>Resim Linki</label>
    <input type="text" class="form-control" name="ImageURL" />
    <br />

    <button class="btn btn-success">Ekle</button>

</form>

