
@{
    ViewBag.Title = "CreateDestinations";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2 class="modern-title">Konum Oluşturma Sayfası</h2>

<form method="post">
    <label>Resim Linki</label>
    <input type="text" class="form-control" name="ImageUrl" />
    <br />

    <label>Başlık</label>
    <input type="text" class="form-control" name="Title" />
    <br />

    <label>Konum fiyatını yazın </label>
    <input type="text" class="form-control" name="Description1" />
    <br />

    <label>Konum süresini yazın </label>
    <input type="text" class="form-control" name="Description2" />
    <br />

    <div class="mb-3">
        <label for="Description" class="form-label">CategoryID</label>
        <textarea class="form-control" id="CategoryID" name="CategoryID" placeholder="Kategori ID yazın"></textarea>
    </div>

    <button class="btn btn-success">Ekle</button>

</form>
    
