<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="user-profile">
        <div class="user-image">
            <img src="~/regal-1.0.0/images/faces/face3.jpg">
        </div>
        <div class="user-name">
            Yunus Emre Kaymakcı
        </div>
        <div class="user-designation">
            Geliştirici
        </div>
    </div>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/Statistic/"> <i class="icon-box menu-icon"></i><span class="menu-title">İstatistik</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "Destination")"> <i class="icon-box menu-icon"></i><span class="menu-title">Konumlar</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Guide/"> <i class="icon-box menu-icon"></i><span class="menu-title">Rehberler</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Partner/"> <i class="icon-box menu-icon"></i><span class="menu-title">Sponsorlar</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Service/"> <i class="icon-box menu-icon"></i><span class="menu-title">Hizmetler</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Slider/"> <i class="icon-box menu-icon"></i><span class="menu-title">Anasayfa</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Testimonial/"> <i class="icon-box menu-icon"></i><span class="menu-title">Referanslar</span></a>
        </li>


        <li class="nav-item">
            <a class="nav-link" href="/Tour/"> <i class="icon-box menu-icon"></i><span class="menu-title">Turlar</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Category/"> <i class="icon-box menu-icon"></i><span class="menu-title">Kategoriler</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Mail/"> <i class="icon-mail menu-icon"></i><span class="menu-title">Abonelikler</span> </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "Advert")"><i class="icon-speech-bubble menu-icon"></i><span class="menu-title">Reklam</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Default/"><i class="icon-globe menu-icon"></i><span class="menu-title">Siteye Git</span> </a>
        </li>
    </ul>
</nav>