<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <div class="user-profile">
        <div class="user-image">
            <img src="images/faces/face28.png">
        </div>
        <div class="user-name">
            Yunus Emre Kaymakcı
        </div>
        <div class="user-designation">
            Geliştirici
        </div>
    </div>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href=""> <i class="icon-box menu-icon"></i><span class="menu-title">İstatistik</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "Destination")"> <i class="icon-box menu-icon"></i><span class="menu-title">Konumlar</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="~/Views/Destination/Index.cshtml"> <i class="icon-box menu-icon"></i><span class="menu-title">Rehberler</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="index.html"> <i class="icon-box menu-icon"></i><span class="menu-title">Sponsorlar</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="/Service/"> <i class="icon-box menu-icon"></i><span class="menu-title">Hizmetler</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="index.html"> <i class="icon-box menu-icon"></i><span class="menu-title">Slider</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="index.html"> <i class="icon-box menu-icon"></i><span class="menu-title">Turlar</span></a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="index.html"> <i class="icon-box menu-icon"></i><span class="menu-title">Kategoriler</span></a>
        </li>




    </ul>
</nav>